# FIFA CASE

“Defenders often need to be physically strong in order to compete and progress in 
the world cup”.

## Imports Python Packages

In [113]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# import fuzzywuzzy

## Player Data for the 2018 world cup

First, we import all the players that played during the last world cup (2018).

In [114]:
df_fifa = pd.read_csv("fifadata.csv")

In [115]:
df_fifa.Position.unique()

array(['GK', 'DF', 'MF', 'FW'], dtype=object)

In [116]:
# to Only Select defenders
df_fifa = df_fifa[df_fifa['Position'] == "DF"]
df_fifa['Date Of Birth'] = pd.to_datetime(df_fifa['Date Of Birth'])

In [117]:
df_fifa

,Team,Group,Squad Number,Position,Player,Date Of Birth,Age,Caps,Goals,Club,Player Count
1,Egypt,A,2,DF,Ali Gabr,1989-01-01,29,20,1,West Bromwich Albion,1
2,Egypt,A,3,DF,Ahmed Elmohamady,1987-09-09,30,77,2,Aston Villa,1
5,Egypt,A,6,DF,Ahmed Hegazi,1991-01-25,27,44,1,West Bromwich Albion,1
6,Egypt,A,7,DF,Ahmed Fathy,1984-11-10,33,125,3,Al Ahly,1
11,Egypt,A,12,DF,Ayman Ashraf,1991-04-09,27,4,0,Al Ahly,1
...,...,...,...,...,...,...,...,...,...,...,...
715,Senegal,H,3,DF,Kalidou Koulibaly,1991-06-20,26,24,0,Napoli,1
716,Senegal,H,4,DF,Kara Mbodji,1989-11-22,28,51,5,Anderlecht,1
724,Senegal,H,12,DF,Youssouf Sabaly,1993-03-05,25,3,0,Bordeaux,1
733,Senegal,H,21,DF,Lamine Gassama,1989-10-20,28,35,0,Alanyaspor,1
734,Senegal,H,22,DF,Moussa Wagué,1998-10-04,19,9,0,Eupen,1

In [118]:
df_fifa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248 entries, 1 to 734
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Team           248 non-null    object
 1   Group          248 non-null    object
 2   Squad Number   248 non-null    int64
 3   Position       248 non-null    object
 4   Player         248 non-null    object
 5   Date Of Birth  248 non-null    datetime64[ns]
 6   Age            248 non-null    int64
 7   Caps           248 non-null    int64
 8   Goals          248 non-null    int64
 9   Club           248 non-null    object
 10  Player Count   248 non-null    int64
dtypes: datetime64[ns](1), int64(5), object(5)
memory usage: 23.2+ KB

In [119]:
df_fifa.Team.unique()

array(['Egypt', 'Russia', 'Saudi Arabia', 'Uruguay', 'Iran', 'Morocco',
       'Portugal', 'Spain', 'Australia', 'Denmark', 'France', 'Peru',
       'Argentina', 'Croatia', 'Iceland', 'Nigeria', 'Brazil',
       'Costa Rica', 'Serbia', 'Switzerland', 'Germany', 'Mexico',
       'South Korea', 'Sweden', 'Belgium', 'England', 'Panama', 'Tunisia',
       'Colombia', 'Japan', 'Poland', 'Senegal'], dtype=object)

In [120]:
df_fifa.nunique()

Team              32
Group              8
Squad Number      20
Position           1
Player           248
Date Of Birth    237
Age               21
Caps              89
Goals             14
Club             157
Player Count       1
dtype: int64

## Importing Player Data

We then import individual player data in general.

In [125]:
df_players = pd.read_csv("players_18.csv")
df_players['dob'] = pd.to_datetime(df_players['dob'])

In [122]:
df_players

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,32,1985-02-05,185,80,Portugal,Real Madrid,...,66+4,62+4,62+4,62+4,66+4,61+4,53+4,53+4,53+4,61+4
1,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,30,1987-06-24,170,72,Argentina,FC Barcelona,...,62+4,59+4,59+4,59+4,62+4,57+4,45+4,45+4,45+4,57+4
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar,Neymar da Silva Santos Júnior,25,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,64+4,59+4,59+4,59+4,64+4,59+4,46+4,46+4,46+4,59+4
3,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,31,1986-03-27,193,92,Germany,FC Bayern München,...,36+4,41+4,41+4,41+4,36+4,34+4,33+4,33+4,33+4,34+4
4,176580,https://sofifa.com/player/176580/luis-suarez/1...,L. Suárez,Luis Alberto Suárez Díaz,30,1987-01-24,182,86,Uruguay,FC Barcelona,...,68+4,65+4,65+4,65+4,68+4,64+4,58+4,58+4,58+4,64+4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,237463,https://sofifa.com/player/237463/adam-kelsey/1...,A. Kelsey,Adam Kelsey,17,1999-11-12,188,74,England,Scunthorpe United,...,18+1,18+1,18+1,18+1,18+1,17+1,17+1,17+1,17+1,17+1
17950,231381,https://sofifa.com/player/231381/jordan-young/...,J. Young,Jordan Young,17,1999-07-31,175,71,Scotland,Swindon Town,...,32+1,29+1,29+1,29+1,32+1,31+1,28+1,28+1,28+1,31+1
17951,240404,https://sofifa.com/player/240404/jack-keeble/1...,J. Keeble,Jack Keeble,18,1999-03-22,172,66,England,Grimsby Town,...,44+1,41+1,41+1,41+1,44+1,46+1,45+1,45+1,45+1,46+1
17952,11728,https://sofifa.com/player/11728/barry-richards...,B. Richardson,Barry Richardson,47,1969-08-05,185,77,England,Wycombe Wanderers,...,20+1,21+1,21+1,21+1,20+1,20+1,22+1,22+1,22+1,20+1
17953,235352,https://sofifa.com/player/235352/tommy-kassemo...,T. Käßemodel,Tommy Käßemodel,28,1988-08-09,173,75,Germany,FC Erzgebirge Aue,...,38+1,42+1,42+1,42+1,38+1,37+1,38+1,38+1,38+1,37+1

We want to select only the columns which would represent physical strength to answer the prompt.

In [123]:
df_players.keys()

Index(['sofifa_id', 'player_url', 'short_name', 'long_name', 'age', 'dob',
       'height_cm', 'weight_kg', 'nationality', 'club_name',
       ...
       'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb'],
      dtype='object', length=106)

Thus, the only physical attributes here that we can use are height, and weight

## Merging the Datasets toghether

In [126]:
df_tgt = pd.merge(df_fifa, df_players, left_on = ['Date Of Birth', 'Team'] ,right_on = ['dob', 'nationality'])

In [136]:
df_excel = df_tgt[['short_name', 'Player']]
df_excel.to_excel('short_name.xlsx');

In [ ]:
df_tgt[df_tgt['short_name'] == "M. Kamiński"]

,Team,Group,Squad Number,Position,Player,Date Of Birth,Age,Caps,Goals,Club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
156,Poland,H,18,DF,Bartosz Bereszyński,1992/07/12,25,6,0,Sampdoria,...,69+1,69+1,69+1,69+1,69+1,70+1,70+1,70+1,70+1,70+1