# Creating the Main Dataset

In [16]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
df_players = pd.read_csv("Data/playerdata.csv", index_col=0)
df_attributes = pd.read_csv("Data/playerattributes.csv", index_col=0)

In [18]:
df_players['Date Of Birth'] = pd.to_datetime(df_players['Date Of Birth'])
df_attributes['dob'] = pd.to_datetime(df_attributes['dob'])

In [19]:
df_players.head(1)

,Team,Group,Squad Number,Position,Player,Date Of Birth,Age,Caps,Goals,Club
0,Egypt,A,1,GK,Essam El-Hadary (captain),1973-01-15,45,157,0,Al-Taawoun

In [20]:
df_attributes.head(1)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,32,1985-02-05,185,80,Portugal,Real Madrid,...,66+4,62+4,62+4,62+4,66+4,61+4,53+4,53+4,53+4,61+4

In [21]:
df = pd.merge(df_players, df_attributes, left_on = ['Date Of Birth', 'Team'] ,right_on = ['dob', 'nationality'])

In [22]:
df.head(1)

,Team,Group,Squad Number,Position,Player,Date Of Birth,Age,Caps,Goals,Club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,Egypt,A,1,GK,Essam El-Hadary (captain),1973-01-15,45,157,0,Al-Taawoun,...,25+1,24+1,24+1,24+1,25+1,25+1,27+1,27+1,27+1,25+1