# Playerdata import

In [2]:
import pandas as pd

In [13]:
df_fifa = pd.read_csv("RawData/fifadata.csv")

In [7]:
df_fifa.Position.unique()

array(['GK', 'DF', 'MF', 'FW'], dtype=object)

In [8]:
# to Only Select defenders
df_fifa = df_fifa[df_fifa['Position'] == "DF"]
df_fifa['Date Of Birth'] = pd.to_datetime(df_fifa['Date Of Birth'])

In [10]:
df_fifa.head(2)

,Team,Group,Squad Number,Position,Player,Date Of Birth,Age,Caps,Goals,Club,Player Count
1,Egypt,A,2,DF,Ali Gabr,1989-01-01,29,20,1,West Bromwich Albion,1
2,Egypt,A,3,DF,Ahmed Elmohamady,1987-09-09,30,77,2,Aston Villa,1

In [11]:
df_fifa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248 entries, 1 to 734
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Team           248 non-null    object
 1   Group          248 non-null    object
 2   Squad Number   248 non-null    int64
 3   Position       248 non-null    object
 4   Player         248 non-null    object
 5   Date Of Birth  248 non-null    datetime64[ns]
 6   Age            248 non-null    int64
 7   Caps           248 non-null    int64
 8   Goals          248 non-null    int64
 9   Club           248 non-null    object
 10  Player Count   248 non-null    int64
dtypes: datetime64[ns](1), int64(5), object(5)
memory usage: 23.2+ KB

In [14]:
df_fifa = df_fifa.iloc[:, :-1]

In [15]:
df_fifa

,Team,Group,Squad Number,Position,Player,Date Of Birth,Age,Caps,Goals,Club
0,Egypt,A,1,GK,Essam El-Hadary (captain),1973/01/15,45,157,0,Al-Taawoun
1,Egypt,A,2,DF,Ali Gabr,1989/01/01,29,20,1,West Bromwich Albion
2,Egypt,A,3,DF,Ahmed Elmohamady,1987/09/09,30,77,2,Aston Villa
3,Egypt,A,4,MF,Omar Gaber,1992/01/30,26,23,0,Los Angeles FC
4,Egypt,A,5,MF,Sam Morsy,1991/09/10,26,4,0,Wigan Athletic
...,...,...,...,...,...,...,...,...,...,...
731,Senegal,H,19,FW,M'Baye Niang,1994/12/19,23,5,0,Torino
732,Senegal,H,20,FW,Keita Bald√©,1995/03/08,23,17,3,Monaco
733,Senegal,H,21,DF,Lamine Gassama,1989/10/20,28,35,0,Alanyaspor
734,Senegal,H,22,DF,Moussa Wagu√©,1998/10/04,19,9,0,Eupen
735,Senegal,H,23,GK,Alfred Gomis,1993/09/05,24,1,0,SPAL

In [21]:
df_fifa.to_csv("Data/playerdata.csv")